:root{
    --primario: #C93636;
    --grisOscuro: #3B383F;
    --grisClaro: #5D5962;
    --fuentePrimaria: "Poppins", serif;
    --fuenteSecundaria: "Montserrat", serif;
    --texto: #000;
    --blanco: #FFF;
    --sm: 1.8rem;
    --md: 2.8rem;
    --lg: 3.6rem;
    --xlg: 5.2rem;
    --espacio: 15%;
    --card-size:180px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuenteSecundaria);
    

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a{
    text-decoration: none;
    font-size: var(--sm);
    color: var(--blanco);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--fuentePrimaria);
    font-weight: 700;
    color: var(--blanco)
}

p{
    font-size: var(--sm);
    color: var(--blanco);
    
}

h1{
    font-size: var(--xlg); 
}

ul{
    list-style: none;
    color: var(--blanco);
    font-size: var(--sm);
}

ul li{
    margin-bottom: 16px;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to { opacity: 1 }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
    }

}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}



.animation-fadeInLeft{    
    animation-name: fadeInLeft;
    animation-duration: 1s;
    /* animation-timeline: view();
    animation-range: entry 0 cover 40%; */
}

.animation-fadeInRight{
    animation-name: fadeInRight;
    animation-duration: 1s;
    /* animation-timeline: view(); */
    /* animation-range: entry 0 cover 40%; */
}

.animation-fadeInBottom{
    animation-name: fadeInBottom;
    animation-duration: 1s;
    /* animation-range: entry 0 cover 40%; */
}


.navbar{
    position: fixed;
    width: 100vw;
    z-index: 2;
    background-color: var(--primario);
    color: var(--texto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 25px;
    
    z-index: 3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
}



.checkbox-container{
    position: fixed;
    width: 62px;
    height: 62px;
    padding: 5px;
    border: 3px solid var(--blanco);
    border-radius: 8px;
    top: 4px;
    left: 15px;
    z-index: 3;
}

.navbar figure img{
    width: 42px;
    height: 42px;
    border: 2px solid var(--blanco);
    border-radius: 5px;
    padding: 6px;
}

.navbar__menu{
    display: none;
}

.header{
    position: relative;
    z-index: 2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    
}

.header__container{
    color: var(--blanco);
    padding: 48px 20px;
    background-color: var(--grisClaro);
    
}

.header__content{
    border-bottom: 1px solid var(--blanco);
}

.header__content h2,
.about__content h2{
    font-size: var(--md);
    line-height: 38px;
    margin-bottom: 3.2rem;
}

.about__content h2{
    border-bottom: 1px solid var(--blanco);
    padding-bottom: 24px;
}

.content{
    background: linear-gradient(180deg, var(--grisClaro) 0%, #0D0B0C 100%);
}

.header__content h1{
    line-height: 50px;
    margin-bottom: 2.8rem;
}

.header__links{
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
}

.header__links .email,
.header__links .linkedin{
    margin-bottom: 1.6rem;
    gap:1rem;
}

.header__links .email{
    margin-bottom: 3.2rem;
}

.header__links .email p,
.header__links .linkedin p{
    font-weight: 700;
    margin-bottom: 1rem;
}

.header__button,
.about__button{
    display: flex;
    justify-content: center;
    align-self: center;
}

.primary-button{
    all: unset;
    background-color: var(--primario);
    color: var(--blanco);
    font-size: var(--sm);
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    width: 85%;
    box-shadow: unset;
}

.header__img{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, var(--grisClaro) 70%, #0D0B0C 100%);
    
    
}






.header__img img{
    max-width: 450px;
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;
}


.about__container{
    text-align: center;
    padding: 38px 20px;
    /* background-color: var(--grisOscuro); */
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30); */
}

.about__content h2,
.formacion h2{
    font-size: var(--lg);
}

.about__content p{
    line-height: 32px;
}

.about__button{
    margin-top: 3.2rem;
}

.formacion{
    /* background-color: var(--grisClaro); */
    color: var(--blanco);
    padding: 38px 20px;    
}

.formacion__container{
    padding: 28 10% 0 10%;
}

.formacion h2{
    text-align: center;
    margin-bottom: 3.2rem;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--blanco);
}

.formacion h3{
    font-size: var(--sm);
}

.formacion__content{
    display: flex;
    flex-direction: column;
    
}

.formacion__content .formacion__item{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 3.2rem;
}

.formacion__content .formacion__item:last-of-type{
    margin-bottom: 0;
}

.formacion__content.formacion-adicional{
    margin-top: 46px;
}



.formacion__content.formacion-adicional h2{
    font-size: var(--md);
}

.formacion__content.formacion-adicional .udemy-icon,
.formacion__content.formacion-adicional .platzi-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 22px;
}

.formacion__content.formacion-adicional img{
    width: 278px;
    object-fit: cover;
    background-color: var(--blanco);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
}

.formacion__content.formacion-adicional ul li{
    list-style: none;
    font-size: var(--sm);
    line-height: 28px;
    margin-bottom: 24px;
}

.formacion__content.formacion-adicional ul li:last-child{
    margin-bottom: 0;
}

.experiencia{
    /* background-color: var(--grisOscuro); */
    padding: 38px 20px;
}

.experiencia h2{
    font-size: var(--lg);
    text-align: center;
    margin-bottom: 3.2rem;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--blanco);
}
.experiencia h3{
    font-size: var(--sm);
    
}

.experiencia__item{
    margin-bottom: 4.8rem;
}
.experiencia__item:last-child{
    margin-bottom: 0;
}

.experiencia__item .experiencia-title{
    margin-bottom: 32px;
}

.experiencia__item ul {
    list-style: unset;
    margin-left: 18px;
}

.proyectos{
    /* background-color: var(--grisClaro); */
    color: var(--blanco);
    padding: 38px 20px;    
}

.proyectos h2{
    font-size: var(--lg);
    text-align: center;
    margin-bottom: 3.2rem;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--blanco);
}

.proyectos__content{
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 26px;
    place-content: center;
}

.proyecto__link:hover{
    transform: scale(1.03);
}

.proyecto__link{
    transition: all ease 0.3s;
}


.proyecto__card{    
    border-radius: 15px;
    height: 100%;
    background-color: var(--primario);
    box-shadow: 0px 0px 8px 3px rgb(255 255 255 / 40%);
    border-color: 1px solid var(--blanco);
}

.proyecto__image img{
    width: var(--card-size);
    height: auto;
    object-fit: cover;
    object-position: center;
    margin: 0;
    border-radius: 15px 15px 0 0;
}

.proyecto__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    border-radius: 0 0 15px 15px;
    border-top: 1px solid var(--blanco);
    height: 50px;
}

.proyecto__card h3{
    text-align: center;
    font-size: var(--sm);
}

.proyecto__description{
    display: none;
}




@media (min-width: 768px){
    .header{
        display: flex;
    }

    .header__img img{
        width: 100%;
        height: 100%;
        object-position: center left;
    }

    .header__button{
        justify-content: flex-start;
        align-self:unset;
    }

    .header__button .primary-button,
    .about__button .primary-button{
        width: 280px;
    }

    .formacion__content .formacion__item{
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    .formacion__content.formacion-adicional .formacion__item{
        justify-content: center;
    }

    .experiencia__item.experiencia-title{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: .8rem;
    }
    
    .experiencia__item.experiencia-title h3:nth-of-type(2){
        grid-row: 2/3;
        grid-column: 1/2;
    }
    
    .experiencia__item.experiencia-title p{
        text-align: end;
    }


    
}

@media (min-width: 1440px){

    :root{
        --card-size:208px;
    }

    .header{
        background: linear-gradient(90deg, var(--grisClaro) 55%, #0D0B0C 100%);
        justify-content: center;
        gap: 132px;
        padding: 24px 5% 0 5%;
    }

    .header__container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
    }

    .header__links .email,
    .header__links .linkedin{
        display: flex;
    }

    .header__img{
        background: unset;
    }

    .about__container{
        padding: 72px var(--espacio) 42px var(--espacio);
    }
    
    .formacion__container{
        padding: 28px var(--espacio) 12px var(--espacio);
    }
    
    .formacion__content.formacion-adicional{
        padding-top: 28px;
        
    }

    .formacion__content.formacion-adicional .formacion__item .udemy-icon,
    .formacion__content.formacion-adicional .formacion__item .platzi-icon{
        justify-content: flex-start;
    }

    .udemy-icon,
    .platzi-icon{
        justify-content: flex-start;
    }

    .experiencia__container{
        padding: 12px var(--espacio) 42px var(--espacio);
    }
    
    .experiencia__item.experiencia-title{
        display: flex;
        flex-direction: column;
        
    }

    .experiencia__item.experiencia-title p{
        text-align: start;
    }

    .experiencia__item{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .proyectos__container{
        padding: 12px var(--espacio) 42px var(--espacio);
    }

    .proyectos__content{
        grid-template-columns: 1fr;
        gap: 38px;
    }

    .proyecto{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 58px;
    }

    .proyecto__image {
        width: 100%;
        height: var(--card-size);
        
    }
    .proyecto__image img{
        width: 100%;
        height: var(--card-size);
        border-radius: 15px;
        border: 1px solid var(--blanco);
    }

    .proyecto__title{
        display: none;
    }

    .proyecto__description{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        
    }
    .proyecto__description h3{
        font-size: var(--md);
        /* margin-bottom: 12px; */
    }
    .proyecto__description p{
        
        /* margin-bottom: 12px; */
    }

    .description__items ul {
        display: flex;
        gap: 24px;
        
        
    }
    .description__items ul li{
        background-color: var(--primario);
        padding: 8px 12px;
        border-radius: 20px;
        border: 1px solid var(--blanco);
    }
}